@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Views
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<gybitg.Models.Stat>

@{ 
    var mStats = Model.AsQueryable();

    double mTotalPoints = 0, mTotalRebounds = 0, mTotalAssists = 0, mTotalSteals = 0, mTotalBlocks = 0, mTotalMinutesPlayed = 0;
    double mAvgPoints = 0, mAvgRebounds = 0, mAvgAssists = 0, mAvgSteals = 0, mAvgBlocks = 0, mAvgMinutesPlayed = 0;

    int mTotalGames = Model.Count();

    foreach(var game in Model)
    {
        mTotalPoints += game.Points;
        mTotalRebounds += game.Rebounds;
        mTotalAssists += game.Assists;
        mTotalSteals += game.Steals;
        mTotalBlocks += game.Blocks;
        mTotalMinutesPlayed += game.MinutesPlayed;
    }

    mAvgPoints = mTotalPoints / mTotalGames;
    mAvgRebounds = mTotalRebounds / mTotalGames;
    mAvgAssists = mTotalAssists / mTotalGames;
    mAvgSteals = mTotalSteals / mTotalGames;
    mAvgBlocks = mTotalBlocks / mTotalGames;
    mAvgMinutesPlayed = mTotalMinutesPlayed / mTotalGames;

}

<div>
        <dl class="d2-horizontal">
            <dt>
                Points per Game
            </dt>
            <dd>
                @mAvgPoints
            </dd>
            <dt>
                Rebounds per Game
            </dt>
            <dd>
                @mAvgRebounds
            </dd>
            <dt>
                Assists per Game
            </dt>
            <dd>
                @mAvgAssists
            </dd>
            <dt>
                Steals per Game
            </dt>
            <dd>
                @mAvgSteals
            </dd>
            <dt>
                Blocks per Game
            </dt>
            <dd>
                @mAvgBlocks
            </dd>
            <dt>
                Minutes per Game
            </dt>
            <dd>
                @mAvgMinutesPlayed
            </dd>
        </dl>
    </div>
