@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

@{
    var _requestedProfileId = (string)ViewData["RequestedProfileId"];

    var _user = UserManager.Users.SingleOrDefault(m => m.Id == _requestedProfileId); // grab the desired User entity

    var _athleteProfile = new AthleteProfile();
    var _coachProfile = new CoachProfile();

    if (_user.MembershipId == 1) // 1: athlete profile - from membership model
    {
        _athleteProfile = _context.AthleteProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);
    }
    else if (_user.MembershipId == 2) // 2: coach profile - from membership model
    {
        _coachProfile = _context.CoachProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);
    }

    if (_user.MembershipId == 1) // load the Athlete profile and stats partial views
    {
        var _athleteStats = _context.AthleteStats.SingleOrDefault(m => m.UserId == _requestedProfileId);
        <h1>@_user.FullName</h1>
        <div class="row dl-horizontal">
            <div class="col-md-6">
                @await Html.PartialAsync("_AthleteProfilePartial")
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_AthleteStatsPartial", _athleteStats)
            </div>
        </div>
    }
    else if (_user.MembershipId == 2) // load the Coach profile partial view
    {
        <h1>Coach @_user.FullName</h1>
        <div class="row dl-horizontal">
            <div class="col-md-6">
                @await Html.PartialAsync("_CoachProfilePartial", _coachProfile)
            </div>
        </div>
    }
}
