@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

@{
    var _requestedProfileId = (string)ViewData["RequestedProfileId"];

    var _user = UserManager.Users.SingleOrDefault(m => m.Id == _requestedProfileId); // grab the desired User entity

    if (await UserManager.IsInRoleAsync(_user, "Athlete")) // load the Athlete profile and stats partial views
    {
        var _athleteProfile = _context.AthleteProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);
        var _athleteStats = _context.AthleteStats.SingleOrDefault(m => m.UserId == _requestedProfileId);

        <h1>@_user.FullName</h1>
        <div class="row dl-horizontal">
            <div class="col-md-6">
                @await Html.PartialAsync("_AthleteProfilePartial", _athleteProfile)
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_AthleteStatsPartial", _athleteStats)
            </div>
        </div>
    }
    else if (await UserManager.IsInRoleAsync(_user, "Coach")) // load the Coach profile partial view
    {
        var _coachProfile = _context.CoachProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);

        <h1>Coach @_user.FullName</h1>
        <div class="row dl-horizontal">
            <div class="col-md-6">
                @await Html.PartialAsync("_CoachProfilePartial", _coachProfile)
            </div>
        </div>
    }
}
