@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Data

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "GameStats";
    ViewData.AddActivePage(ManageNavPages.GameStats);
    Html.RenderPartial("_StatusMessage", TempData["StatusMessage"]);

    IEnumerable<Stat> statList = _context.Stats.Where(s => s.UserId == UserManager.GetUserId(User));

    if (statList.Count() > 0)
    {

        await Html.RenderPartialAsync("_StatListPartial", statList);
    }
    else
    {
        <h4>You have not saved any game stats.</h4>
    }
}
<hr />
@{
    StatViewModel statVM = new StatViewModel();

    await Html.RenderPartialAsync("_StatAddPartial", statVM);
}

<br />


