@model gybitg.Models.SearchViewModels.SearchResultsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Search";
}
<h3>Find athletes</h3>
<form asp-action="SearchResults" asp-controller="Search">
    <div>
        Name: <input asp-for="FullName" />
    </div>
    <div>
        Position: <input asp-for="Position" />
    </div>
    <div>
        Graduation Date <input asp-for="HSGraduationDate" />
    </div>
    <div>
        Points per Game: <input asp-for="PPG" />
    </div>
    <div>
        Minutes per Game: <input asp-for="MPG" />
    </div>
    <div>
        Three Pointers per Game: <input asp-for="TPMG" />
    </div>
    <div>
        Free Throws per Game <input asp-for="FTMG"/>
    </div>

    <div>
        <input type="submit" value="Search" />
    </div>
</form>

