@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Data


@model IEnumerable<gybitg.Models.AthleteProfile >
@*@model IEnumerable<gybitg.Models.CoachAthlete>*@
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Highschool Name

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HighschoolName)

                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td*@>
            </tr>
        }
        <div>
            @{// var _athleteProfiles = await _context.AthleteProfiles.ToListAsync();
                // await Html.PartialAsync("_SearchPartial", _athleteProfiles);
            }
        </div>
    </tbody>
</table>
