@using gybitg.Models.SearchViewModels;
@using gybitg.Views.Manage;
@model SearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout";
    ViewData["Title"] = "AdvancedSearch";
    ViewData.AddActivePage(ManageNavPages.AdvancedSearch);
    var _requestedProfileId = (string)ViewData["RequestedProfileId"];
    var _user = UserManager.Users.SingleOrDefault(m => m.Id == _requestedProfileId);
}
<h3>Find athletes</h3>
@ViewBag.Error
<div class="row">
    <div class="col-md-6">
        <form asp-action="SearchResults" asp-controller="Search" method="get">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Position"></label>
                <select asp-for="Position" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(SearchViewModel.PositionType)))"></select>
            </div>


            <div class="form-group">
                <label asp-for="HSGraduationDate"></label>
                <div class="input-group date" id="datetimepicker10">
                    <input asp-for="HSGraduationDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>



            <div class="form-group">
                <label asp-for="HighSchool"></label>
                <input asp-for="HighSchool" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AAUId"></label>
                <input asp-for="AAUId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HighScoolCoach"></label>
                <input asp-for="HighScoolCoach" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AAUCoach"></label>
                <input asp-for="AAUCoach" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker10').datetimepicker({
                viewMode: 'years',
                format: 'MM/YYYY'
            });
        });
    </script>
}
